

label.name{font-family: 'Tahoma';vertical-align:middle;margin-right:10px;}
label.name input.inl{vertical-align:middle;margin-right:5px;}
label.name input.inr{vertical-align:middle;margin-left:5px;}

.command-row{}