<h2>Your cart</h2>

<div ng-controller="CheckoutController">
	<div class="alert alert-warning" ng-show="cartData.length==0">
		购物车中没有商品。
		<a href="#/products" class="alert-link">点击去到商品页面</a>
	</div>

	<div ng-hide="cartData.length==0">
		<table class="table">
			<thead>
				<tr>
					<th>Quantity</th>
					<th>Item</th>
					<th class="text-right">Price</th>
					<th class="text-right">Subtotal</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in cartData">
					<td class="text-center">{{item.count}}</td>
					<td class="text-left">{{item.name}}</td>
					<td class="text-right">{{item.price|currency}}</td>
					<td class="text-right">{{(item.price*item.count)|currency}}</td>
					<td>
						<button ng-click="remove(item.id)" class="btn btn-sm btn-warning">删除</button>
					</td>
					
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-right">总计：</td>
					<td class="text-right">{{total()|currency}}</td>
					<td>&nbsp;</td>
				</tr>
			</tfoot>
		</table>

		<div class="text-center">
			<a href="#/products" class="btn btn-primary">继续购物</a>
			<a href="#/placeorder" class="btn btn-primary">立即购买</a>
		</div>
	</div>

</div>
